
body{
    background-image: url(img/rainbow-bg.jpg);
    background-size: contain;

    padding: 0px 200px;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dog{
    background-color: #000;
    text-align: center;
    padding: 55px 0;
    margin: 0;
    font-weight: 200;
    color: #fff;
    border-bottom: 5px solid #336699 ;
}

nav{
    background-color: #fff;
    text-align: center;
    padding: 15px;
}

nav span{
    margin-right: 10px;
}
a:link{
    text-decoration: none;
    color: black;

}

.pragraph{
    display: table;
    width: 100%;
    padding: 5px;
    background-color: #fff;;
    padding: 40px 5px;
}
.part_story:not(:last-child){
    margin-right: 10px;
}
.part_story{
    float: left;
    width: calc((100% - 10px)/2);
}

.dog-image{
    height: 260px;
    width: 260px;
    margin: auto;
    border-radius: 100%;
    margin-left: calc(50% - 130px);
}

.full_story{
    padding: 10px;
}

.full_story h2{
    font-weight: 500;
}
.full_story p:not(.button){
    margin: 20px 0;
    font-size: 14px;
    font-style: italic;
}

.full_story h3{
    font-size: 16px;
    margin-bottom: 20px;
}
.full_story ol{
    margin-left: 29px;

}
.full_story li{
    margin-bottom: 10px;
}
.button{
   background-color: #53c9ec;
   background-size: 50% 50% 50% 50%;
   padding: 7px ;
   margin-bottom: 10px;
   font-size: 14px;
   text-align: center;
   color: #fff;
   letter-spacing: 1px;
   border-radius: 7px;
   border-color: #53c9ec;
   font-weight: 790;
   cursor: pointer;
}
.right p:not(.button){
    margin: 20px 0;
    font-size: 14px;
    font-style: italic;
}
.right{
    padding: 8px;
}

.right h2{
    font-weight: 400;
}

footer{
    background-color: #fff;
    text-align: center;
    padding: 25px;

}

footer img{
    width: 45px;
    height: 40px;
    margin-top: 30px;
}